.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #919191;
    color: #fff;
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}

.fechas{
    min-width: 80px;
}