/* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {

    .pfp {
        display: none;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {

    .pfp-small {
        display: none;
    }
}

.navbar {
    background: #050505;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: white;
}

.nav-link.show {
    color: white;
}

button {
    background: #050505;
    border: none;
}

a {
    color: #FFF;
    font-family: "Istok Web", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

a:hover {
    color: rgb(160, 160, 160)
}

.usuario {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28249, 254, 248, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    border-color: 1px solid #F9FEF8;
}

.navbar-light .navbar-toggler {
    border-color: 1px solid #F9FEF8;
}

.dropdown-menu {
    background-color: #050505;
}

.dropdown-item {
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
}

.pfp {
    position: absolute;
    top: 25%;
    left: 85%;
    width: 40px;
    height: 40px;
    display: flex;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #919191;
    color: #fff;
}