.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #919191;
    color: #fff;
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px; /* Ajusta el valor según sea necesario */
  }

.circle-container {
    display: flex;
    align-items: center;
}

.circle-bg {
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}


.custom-select .option-content {
    display: flex;
    align-items: center;
}

.custom-select .option-content img {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.custom-select .option-content span {
    white-space: nowrap;
    /* Evita el salto de línea */
}

.custom-select .pfp {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}