<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div>
            <h2 style="margin: 20px 0px 0px 30px;">VTO</h2>
            <hr>
        </div>
        <div class="col-12 d-flex justify-content-end" *ngIf="roleUsuario != 'usuario'">
            <label for="fileInput" class="btn btn-primary">Cambiar Imagen</label>
            <input type="file" id="fileInput" (change)="cambiarImagen($event)" accept="image/*" style="display:none;">
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center vh-90 mb-5">
        <img [src]="imagenUrl" >
    </div>
</div>
