<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container mt-4 mb-3">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Perfil</h5>
                        <hr>
                        <form class="d-flex flex-column">
                            <div class="mb-3">
                                <label>Nombre(s):</label>
                                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" required
                                    [(ngModel)]="datosUsuarioActualizar.nombreUsuario">
                            </div>
                            <div class="mb-3">
                                <label>Apellido</label>
                                <input type="text" class="form-control" name="apellidoUsuario" required="required"
                                    [(ngModel)]="datosUsuarioActualizar.apellidoUsuario">
                            </div>
                            <button type="submit" class="btn btn-primary align-self-end" (click)="actualizar()">Actualizar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cambiar Foto de Perfil</h5>
                        <hr>
                        <form>
                            <img [src]="imgURL" class="card-img-top"
                                style="max-width: 100%; max-height: 320px;object-fit: contain;">
                                <label for="nuevaFoto" class="btn btn-primary">
                                    Nueva foto
                                    <input type="file" id="nuevaFoto"
                                        accept=".jpg .jpeg"
                                        style="display:none" (change)="selectedImage($event)">
                                </label>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>