* {
    font-family: 'Space Grotesk', sans-serif;
}

.container-fluid {
    min-height: 100%;
    position: absolute;
    background: #F9FEF8
}

.pfp {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    background-color: #919191;
    color: #fff;
    margin: 2px;
}


.custom-select .option-content {
    display: flex;
    align-items: center;
}

.custom-select .option-content img {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.custom-select .option-content span {
    white-space: nowrap;
    /* Evita el salto de línea */
}

.custom-select .pfp {
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 50%;
}
