* {
    font-family: 'Space Grotesk', sans-serif;
}

.container-fluid {
    min-height: 100vh;
    background: #F9FEF8;
}

.reuniones {
    background-color: rgb(201, 213, 222);
    border-radius: 18px;
    padding: 10px; /* Ajusta según sea necesario */
    margin: 10px 0; /* Ajusta según sea necesario */
  }
  