<app-navbar></app-navbar>

<div class="container-fluid">
    <h3 class="mt-4">Hola, {{nombreUsuario}} {{apellidoUsuario}}</h3>
    <div class="card w-100">
        <div class="card-body">
            <h3 style="text-align: center;">Actividades</h3>
            <img src="../../../../../assets/img/NoActividades.png" width="280px" class="img-fluid mb-4 d-block mx-auto"
                *ngIf="aux != true">
            <div *ngIf="aux== true">
                <div *ngFor="let reunion of actividades | keyvalue">
                    <h5 style="text-align: center;" class="reuniones"><strong>{{ reunion.key }} </strong></h5>
                    <div *ngFor="let actividad of reunion.value" class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <input class="form-check form-check-input form-check-default" type="checkbox"
                                [checked]="actividad.statusToDo === 'Completado'" (change)="completado(actividad)">
                            <span class="ml-2">{{ actividad.tituloToDo }}</span>
                        </div>
                        <span class="font-weight-bold ml-auto">
                            <strong [style.color]="tarde(actividad.dueDateToDo) ? 'red' : 'green'">{{
                                formatoFecha(actividad.dueDateToDo) }}</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card w-100 mt-4">
        <div class="card-body">
            <h3 style="text-align: center;">Indicadores</h3>
            <img src="../../../../../assets/img/NoIndicadoresActividades.png" width="280px"
                class="img-fluid mb-4 d-block mx-auto" *ngIf="aux1 != true">
            <div *ngIf="aux1 == true">
                <div *ngFor="let reunion of indicadores | keyvalue; let k = index">
                    <h5 style="text-align: center;" class="reuniones"><strong>{{ reunion.key }} </strong></h5>
                    <table class="table table-hover table-bordered">
                        <thead style="vertical-align: middle;">
                            <tr>
                                <th>Indicador</th>
                                <th></th>
                                <th>Meta</th>
                                <ng-container *ngIf="fechasRestantesTabla[k] && fechasRestantesTabla[k].length != 0">
                                    <ng-container *ngFor="let restantes of fechasRestantesTabla[k]; let i = index">
                                        <th style="border: solid; border-color: #2f72de; background-color:#2f72de;"
                                            *ngIf="i == 0 && restantes.length>0">
                                            {{restantes}}</th>
                                        <th *ngIf="i > 0 && restantes.length>0">{{restantes}}</th>
                                    </ng-container>
                                    <ng-container *ngIf="fechasRestantesTabla[k].length == 0">
                                        <ng-container
                                            *ngFor="let datos of fechasFormateadasReverso[k]; let fechas=index">
                                            <th style="border: solid; border-color: #2f72de; background-color:#2f72de;"
                                                *ngIf="fechas == 0">{{datos}}
                                            </th>
                                            <th *ngIf="fechas > 0">{{datos}}</th>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="fechasRestantesTabla[k].length != 0">
                                        <ng-container *ngFor="let datos of fechasFormateadasReverso[k];">
                                            <th>{{datos}}</th>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody style="vertical-align: middle;">
                            <ng-container *ngFor="let measurable of reunion.value">
                                <tr *ngIf="measurable.statusMeasurable != 'Archivado'">
                                    <td>{{measurable.nombreMeasurable}}</td>
                                    <td>{{criterio(measurable.tipoMedida)}}</td>
                                    <td>{{meta(measurable)}}</td>
                                    <ng-container *ngIf="fechasRestantesTabla[k].length>0">
                                        <ng-container *ngFor="let restantes of fechasRestantesTabla[k]; let i = index">
                                            <td style="border-left: solid; border-right: solid; border-color: #2f72de; position: relative; padding: 0;"
                                                *ngIf="i == 0">
                                            </td>
                                            <td style="position: relative; padding: 0;" *ngIf="i != 0">
                                                <input type="number" name="" #inputCumplimiento
                                                    style="border: none; width: 100%; padding: 0; background: none; outline: none; box-shadow: none; position: absolute; top: 0; left: 0; height: 100%; text-align: center;"
                                                    (keyup.enter)="guardarSeguimientoRestante(measurable.idMeasurable, inputCumplimiento.value, i)">
                                            </td>
                                        </ng-container>
                                        <ng-container
                                            *ngFor="let dato of resultados[reunion.key][measurable.idMeasurable]; let resultados = index">
                                            <ng-container *ngIf="dato != undefined || dato!=null">
                                                {{dato}}
                                                <ng-container *ngFor="let cumpl of datos[measurable.idMeasurable] let resultados = index">
                                                <td>{{cumpl}}</td>
                                                <ng-container *ngIf="fechasRestantesTabla.length == 0">
                                                </ng-container>
                                            </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="fechasRestantesTabla[k].length==0">
                                        <td>{{formatearFechas((semanaCalcular.split("/")[1] + "/" +
                                            semanaCalcular.split("/")[0] + "/" + semanaCalcular.split(" ")[0]+ " - " ))}}</td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
</div>