.container {
    min-height: 600px;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #919191;
    color: #fff;
}

.medio {
    vertical-align: middle;
}

table {
    position: relative;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
}

.fechas{
    min-width: 80px;
}

.comentarios {
    width: fit-content;
    min-width: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.cursor {
    cursor: pointer;
    /* Cambia el cursor a una mano */
}


.custom-select .option-content {
    display: flex;
    align-items: center;
}

.custom-select .option-content img {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.custom-select .option-content span {
    white-space: nowrap;
    /* Evita el salto de línea */
}

.custom-select .pfp {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}